.auth-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(135deg, #704264, #b5838d, #e5989b, #53354a);
    background-size: 400% 400%;
    animation: gradientShift 15s ease infinite; */
}
/* @keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

.auth-logo-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-logo {
    width: 100%;
    transition: transform 0.5s ease;
}

.auth-logo.fade-in {
    transform: scale(1);
    opacity: 1;
}

.auth-form-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form-container {
    width: 80%;
    /* max-width: 400px; */
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
    color: #fff;
    transition: all 0.3s ease;
}

.auth-form-container.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.auth-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

.auth-button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background-color: #704264;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-button.button-hover {
    background-color: #53354a;
}

.auth-toggle-text {
    margin-top: 15px;
    text-align: center;
}

.auth-toggle-link {
    background: none;
    border: none;
    color: rgb(71, 97, 174);
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.auth-container {
    background: radial-gradient(black 1px, transparent 1px);
    background-size: 20px 20px;
    animation: moveBackground 10s linear infinite;
  }
  
  @keyframes moveBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 40px 40px;
    }
  }
  