.profile-container {
  max-width: 1100px;
  margin: 2rem auto;
  background-color: #d2e5f8;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
}

.profile-header {
  background-color:#bddcfb; 
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.profile-name {
  font-size: 1.75rem;
  color: #065f46;
  margin-top: 1rem;
  font-weight: 600;
}
